// Fonts
$font-family: "Oswald", sans-serif;
$second-family: "Cormorant", sans-serif;

// Colors
$color-accent: #43FFD2;
$color-purpure: #7D2253;
$color-pink: #D978AC;
$color-dark: #282828;
$color-dark2: #040a0a;
$color-white: #fff;
$color-black: #000;
$color-gray: #555;