<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__left">
        <div class="footer__details">
          <a class="logo footer__logo" href="/">
          <img src="/src/img/logo/logo.svg" alt="Логотип Lover Flower">
        </a>

            <div class="footer__title">
              реквизиты
            </div>

            <p class="footer__details-text">
              ООО «Ловефлове» 220035, Республика Беларусь, г. Минск, ул. Тимирязева д. 67, комн. 112 (пом.11) УНП
              193263781, р/с BY55MTBK30120001093300096372 ЗАО «МТБанк», БИК MTBKBY22 220007, г. Минск, улица Толстого
            </p>
        </div>

        <div class="footer__catalog">
          <div class="footer__title">Каталог</div>

          <ul class="footer__list">
            <li><a class="footerC" href="#!">Популярное</a></li>
            <li><a class="footer__list-link" href="#!">Сухоцветы</a></li>
            <li><a class="footer__list-link" href="#!">Букеты роз</a></li>
            <li><a class="footer__list-link" href="#!">Композиции из цветов</a></li>
            <li><a class="footer__list-link" href="#!">Индивидуальный букет</a></li>
            <li><a class="footer__list-link" href="#!">Букет на праздник</a></li>
            <li><a class="footer__list-link" href="#!">Упаковка подарков</a></li>
            <li><a class="footer__list-link" href="#!">Шары</a></li>
            <li><a class="footer__list-link" href="#!">Открытки</a></li>
            <li><a class="footer__list-link" href="#!">Конверты</a></li>
          </ul>
        </div>

        <div class="footer__bouquet">
          <div class="footer__title">Букет</div>

          <ul class="footer__list">
            <li><a class="footer__list-link" href="#!">Для девушки</a></li>
            <li><a class="footer__list-link" href="#!">Для мужчины</a></li>
            <li><a class="footer__list-link" href="#!">Для жены</a></li>
            <li><a class="footer__list-link" href="#!">Для мамы</a></li>
            <li><a class="footer__list-link" href="#!">Для коллеги</a></li>
            <li><a class="footer__list-link" href="#!">Для начальника</a></li>
            <li><a class="footer__list-link" href="#!">Для дочки</a></li>
            <li><a class="footer__list-link" href="#!">Для детей</a></li>
            <li><a class="footer__list-link" href="#!">Для женщины</a></li>
          </ul>
        </div>
      </div>

      <div class="footer__right">
        <a class="logo footer__logo-mob" href="/">
          <img src="/src/img/logo/logo.svg" alt="Логотип Lover Flower">
        </a>
        <ul class="footer__menu">
          <li class="footer__menu-mob"><a class="footer__menu-link" href="#!">Каталог</a></li>
          <li><a class="footer__menu-link" href="#!">Доставка и оплата</a></li>
          <li><a class="footer__menu-link" href="#!">О нас</a></li>
          <li><a class="footer__menu-link" href="#!">FAQ</a></li>
          <li><a class="footer__menu-link" href="#!">Контакты</a></li>
          <li><a class="footer__menu-link" href="#!">для корпоративных клиентов</a></li>
        </ul>

        <div class="footer__contacts">
          <div class="footer__contacts-inner">
            <div class="footer__contact">
              <a class="footer__contact-title" href="mailto:zakaz@loverflower.by">
                zakaz@loverflower.by
              </a>
              <div class="footer__contact-descr">
                Доставка 24/7 по договоренности с оператором
              </div>
            </div>
            <div class="footer__contact">
              <address class="footer__contact-title" href="#">
                ул. Тимирязева 67
              </address>
              <div class="footer__contact-descr">
                <p>10:00 до 21:00</p>
                <p>без выходных</p>
              </div>
            </div>
            <div class="footer__contact">
              <a class="footer__contact-title" href="tel:+375291136969">
                +375 (29) 113-69-69
              </a>
              <div class="footer__contact-descr">
                прием звонков круглосуточно
              </div>
            </div>
          </div>

          <ul class="social footer__social">
            <li class="social__item">
              <a class="social__link social__link--insta" href="#"></a>
            </li>
            <li class="social__item">
              <a class="social__link social__link--whatsapp" href="#"></a>
            </li>
            <li class="social__item">
              <a class="social__link social__link--viber" href="#"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>