 <nav class="menu">
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" href="#!">Главная</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#!">Каталог</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#!">Доставка и оплата</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#!">О нас</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#!">Контакты</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#!">FAQ</a>
      </li>
    </ul>
  </nav>